*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


/*  E S T R U C T U R E   */


body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 370px auto 600px;
    grid-template-areas:
    "header"
    "main"
    "footer"
    ;
}

header{
    grid-area: header;
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
}

/*   H E A D E R    */

nav{
    position: fixed;
    top: 15px;
    width: 95%;
    height: 50px;
    background-color: #113159;
    border-radius: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 20px;
    grid-template-areas: 
    "logo . menu-button"
    ;
    z-index: 10;
    box-shadow: 0px 0px 42px -12px rgba(0,0,0,0.75);
}



nav a{
    text-decoration: none;
    grid-area: logo;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

nav a .logo-text-header{
    width: 90px;
}
nav a .logo-img-header{
    width: 40px;
}

.menu-btn_container{
    grid-area: menu-button;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    width: auto;
}

nav div div{
    width: 50px;
    height: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav div div .menu-btn_burger{
    width: 30px;
    height: 4px;
    background-color: white;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.menu-btn_burger::before,
.menu-btn_burger::after{
    content: "";
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: white;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.menu-btn_burger::before{
    transform: translateY(-10px);
}

.menu-btn_burger::after{
    transform: translateY(10px);
}

/*  A N I M A T I O N  */

.menu-btn_clickbox.open .menu-btn_burger{
    background: transparent;
    box-shadow: none;
}

.menu-btn_clickbox.open .menu-btn_burger::before{
    transform: rotate(45deg);
}

.menu-btn_clickbox.open .menu-btn_burger::after{
    transform: rotate(-45deg);
}


.header-index{
    background-image: url(../sources/img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: none;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    display: grid;
    grid-template-areas: 
    "."
    "title"
    "subtitle"
    ;
    justify-items: center;
    align-items: center;
}

.header-index::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 370px;
    background-color: #292929;
    opacity: 46%;
    z-index: 0;
}

.header-index .title-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    grid-area: title;
}

.header-index .title-header p{
    font-size: 50px;
    font-weight: 800;
    color: rgb(255, 255, 255);
    text-align: center;
    letter-spacing: 3px;
    text-shadow: 0px 0px 34px rgba(0, 0, 0, 0.708);
    z-index: 1;
}

.header-index p{
    font-size: 13px;
    width: 95%;
    text-align: center;
    color: #BCBCBC;
    z-index: 1;
    grid-area: subtitle;
}

.texto{
    width: 100px;
    font-size: 80px;
}

/*   M A I N    */

.main-index{
    background-image: url(../sources/background-design-2.png);
    background-size: 700px;
    background-repeat: repeat;
    width: 100%;
}

.main-index section{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 200px 200px;
    width: 100%;
    justify-items: center;
    align-items: center;
    gap: 30px;
    padding: 40px 0 40px 0;
}

.main-index section a{
    width: 90%;
    height: 200px;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: gray;
    border-radius: 30px;
    margin: 20px 0 20px 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-decoration: none;
    box-shadow: 0px 0px 58px -16px rgba(0, 0, 0, 0.274);
}

.main-index section .elaboration-box{
    background-image: url(../sources/factory\(blured\).png);
}

.main-index section .products-box{
    background-image: url(../sources/squid\(blured\).png);
}

.main-index section .aboutUs-box{
    background-image: url(../sources/Fishing-ship\(blured\).png);
}

.main-index section a div p{
    font-size: 2.2rem;
    font-weight: 800;
    text-shadow: 0px 0px 24px rgba(0, 0, 0, 0.99);
    color: rgb(255, 255, 255);
}


/*    F O O T E R    */

.footer-index{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid gray;
    padding-top: 40px;
    box-shadow: 0px 0px 58px -16px rgba(0, 0, 0, 0.371);

}

.footer-index div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.footer-index div i{
    font-size: 25px;
    color: #212121;
}

.footer-index div p{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
}

.footer-index .logo-container-footer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90px;
    background-color: #113159;
}

.logo-text-footer{
    width: 150px;
}

.logo-img-footer{
    width: 70px;
}
