*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 370px auto 300px;
    grid-template-areas:
    "header"
    "main"
    "footer"
    ;
}

header{
    grid-area: header;
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
}

/*   H E A D E R    */

.header-index{
    background-image: url(../sources/img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: none;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    display: grid;
    justify-items: center;
    align-items: center;
    z-index: -2;
}

.header-index::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 370px;
    background-color: #292929;
    opacity: 46%;
    z-index: -1;
}

.navbar{
    width: 95%;
    height: 40px;
    background-color: #113159;
    border-radius: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
    ". . . menu-button"
    ;
    align-items: center;
    padding: 0 20px 0 20px;
}

.material-symbols-outlined{
    grid-area: menu-button;
}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-text{
    width: 70px;
}

.logo-img{
    width: 30px;
}

.menu-button{
    color: white;
    font-variation-settings:
    'FILL' 0,
    'wght' 800,
    'GRAD' 0,
    'opsz' 48;
}

.header-index .title-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.header-index .title-header p{
    font-size: 50px;
    font-weight: 800;
    color: rgb(255, 255, 255);
    text-align: center;
    letter-spacing: 3px;
    text-shadow: 0px 0px 34px rgba(0, 0, 0, 0.708);
}

.header-index p{
    font-size: 13px;
    width: 95%;
    text-align: center;
    color: #BCBCBC;
}

.texto{
    width: 100px;
    font-size: 80px;
}

/*   M A I N    */

.main-index{
    background-image: url(../sources/background-design-2.png);
    background-size: 700px;
    background-repeat: repeat;
    width: 100%;
}

.main-index section{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 200px 200px;
    width: 100%;
    justify-items: center;
    align-items: center;
    gap: 30px;
    padding: 40px 0 40px 0;
}

.main-index section a{
    width: 90%;
    height: 200px;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: gray;
    border-radius: 30px;
    margin: 20px 0 20px 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-decoration: none;
}

.main-index section .elaboration-box{
    background-image: url(../sources/factory\(blured\).png);
}

.main-index section .products-box{
    background-image: url(../sources/squid\(blured\).png);
}

.main-index section .aboutUs-box{
    background-image: url(../sources/Fishing-ship\(blured\).png);
}

.main-index section a div p{
    font-size: 2.2rem;
    font-weight: 800;
    text-shadow: 0px 0px 24px rgba(0, 0, 0, 0.99);
    color: rgb(255, 255, 255);
}


